{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": ["emotion"],
  "env": {
    "production": {
      "plugins": [
        [
          "emotion",
          {
            "sourceMap": false
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        [
          "emotion",
          {
            "sourceMap": true
          }
        ]
      ]
    }
  }
}
